p {
    color: black;
}

h1 {
    color: green;
}

/* Classes Selector */

.spesial {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    
}

/* ID Selector */
#unik {
    color: red;
}

.style {
    width: 300px;
    border: 15px solid gray;
    padding: 50px;
    margin: 20px;
}